<header th:fragment="headerLogado" class="d-flex flex-wrap justify-content-center align-items-center pt-3 mb-4 bg-black flex-column">
    <a th:href="@{/index.html}" class="d-flex align-items-center justify-content-center mb-3 text-decoration-none">
        <img th:src="@{/imgs/logo.jpg}" width="45" height="45" class="me-2">
        <span class="ml-1 fs-1 text-white">Caresync</span>
    </a>
    <nav class="d-flex justify-content-center align-items-center w-100 py-1" style="background-color: #61CA9F">
        <a th:href="@{/home}" class="text-black text-decoration-none fw-bold mx-5 fs-6">Início</a>
        <a th:href="@{/logout}" class="text-black text-decoration-none fw-bold mx-5 fs-6">Logout</a>
    </nav>
</header>