/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("../src/assets/images/plano-de-fundo.png");
  background-size: cover; /* cobre toda a tela */
  background-repeat: no-repeat; /* evita que a imagem se repita */
  background-position: center center; /* centraliza a imagem */
}
