<app-auth-container>
  <div class="auth-section">
    <div class="auth-itens">
      <div class="header">
        <h1 class="titulo cadastro">CADASTRO</h1>
      </div>
      <div class="labels">
        <div class="input-container">
          <input type="text" required="" />
          <label>Nome Completo</label>
        </div>
        <div class="double-information">
          <div class="input-container share">
            <input type="date" required="" />
            <label>Data de Nasc.</label>
          </div>
          <div class="input-container share">
            <select name="sexo" id="">
              <option value="">SELECIONE</option>
              <option value="M">MASCULINO</option>
              <option value="F">FEMININO</option>
            </select>
            <label for="sexo">SEXO</label>
          </div>
        </div>
        <div class="double-information">
          <div class="input-container share">
            <input
              type="text"
              required=""
            />
            <label>CPF</label>
          </div>
          <div class="input-container share">
            <input type="text" required="" />
            <label>RG</label>
          </div>
        </div>
        <div class="input-container">
          <input type="text" required="" />
          <label>ENDEREÇO</label>
        </div>
        <div class="double-information">
          <div class="input-container share">
            <input type="text" required="" />
            <label>TELEFONE</label>
          </div>
          <div class="input-container share">
            <input type="text" required="" />
            <label>E-MAIL</label>
          </div>
        </div>
        <div class="input-container">
          <input type="password" required="" />
          <label>SENHA</label>
        </div>
        <div class="input-container">
          <input type="password" required="" />
          <label>CONFIRMAR SENHA</label>
        </div>
        <button class="submit-button register">CADASTRAR</button>
      </div>
    </div>
  </div>
  <div class="logo-section">
    <div class="logo"></div>
    <div class="logo-text">
      <p>caresync.com.br</p>
    </div>
  </div>
</app-auth-container>
